# ---- Python ----
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# ---- Virtual env ----
.venv/
.env

# ---- OS / Editor ----
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Specific Files ----
README-perso.md
